.replay-controls {
  margin-top: 50px; /* space from the chart/form above */
  display: flex;
  gap: 10px; /* space between buttons */
  align-items: center;
  flex-wrap: wrap; /* wraps buttons if screen is small */
}



.replay-controls button:hover {
  background-color: #303f9f;
}

.replay-controls label {
  color: #fff;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.replay-controls select {
  padding: 4px 8px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
}



.wallet-balance {
  font-size: 2rem;
  color: #fff;
}

.wallet-balance h3 {
  font-size: 1.2rem;
  color: #fff;
  margin: 0;
}

.portfolio-container {
    width: 100%;
    margin-top: 20px; /* spacing from chart */
    clear: both; /* if floats are used */
}
.speed-bar-wrapper {
  display: inline-block;
  position: relative;
  margin: 20px;
  border-color: #E0EBFF;
}

#speed-select {
  display: none; /* hide the dropdown itself */
}

.speed-buttons {
  display: flex;
  gap: 5px;
  margin-top: 5px;
  font-size: 30px;
}

.speed-buttons button.active,
.speed-buttons button:hover {
  background: #E0EBFF;
  color: #000000 ;
  border: 2px solid #E0EBFF
}

.speed-buttons button {
  padding: 4px 8px;
  background: #000000;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s;
  border: 0.1px solid #E0EBFF
}

.speed-buttons button p{
  font-size: 30px;
}

/* Flex container for wallet and scenario */
.wallet-scenario-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 20px;
}

/* Scenario card styling */
.scenario-card {
  flex: 10;
  color: #fff;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  max-width: 400px; /* optional: keeps the card from getting too wide */
}

/* Optional: make wrapper responsive */
@media (max-width: 900px) {
  .wallet-scenario-wrapper {
    flex-direction: column;
  }
  .scenario-card {
    max-width: 100%;
  }
}



#reset-zoom {
    cursor: pointer;
    color: #ffffff;
    text-decoration: underline;
    font-size: 0.9rem;
    margin-left: 10px;
    margin-top: 10px;
}

#reset-zoom:hover {
    color: #9ec6f0;
}